.ruble {
    color: #D16832;
}

a,
a:hover {
    color: #424242 !important
}

.footer_back,
.footer_back a {
    color: #c1c1c1 !important;
    font-weight: 100;
}

h6.text_menu {
    color: #999;
    margin: 0 0 5px;
    padding: 20px 0 0;
    font-weight: 100;
}

.bdt-wc-products .bdt-wc-add-to-cart a {
    font-size: 18px !important;
}

.bdt-wc-add-to-cart a {
    padding: 2px !important;
}

.bdt-wc-products.bdt-wc-products-skin-table table img {
    width: 180px !important;
}

.bdt-wc-products .bdt-wc-add-to-cart .added_to_cart::after {
    margin-left: 0px !important;
}

.elementor-2 .elementor-element.elementor-element-6e4137c .bdt-wc-products .bdt-wc-add-to-cart a {
    min-width: 44px;
}

.bdt-thumb {
    width: 180px !important;
}

.cart-collaterals,
.product-thumbnail,
#Content>div>div>div>div>div.section.the_content.has_content>div>div>div>div.elementor-element.elementor-element-23e04b8.e-flex.e-con-boxed.e-con.e-parent>div>div>div>div>form>table>thead {
    display: none !important;
}

.woocommerce-cart-form {
    flex-basis: 100% !important;
    max-width: 100% !important;
}

.woocommerce table.shop_table td.product-name a {
    font-size: 13px;
    font-weight: 400;
}

.product-name {
    max-width: 300px !important;
    margin-right: 20px !important;
}

.woocommerce table.shop_table td.product-price,
.woocommerce table.shop_table td.product-subtotal {
    padding-top: 15px !important;
}

td.product-remove {
    padding-top: 15px !important;
}

.woocommerce table.shop_table td.product-subtotal {
    padding-left: 0px !important;
}

.mfn-cart-step-1 .woocommerce {
    display: block !important;
}

span.woocommerce-input-wrapper {
    display: flex !important;
}

.woocommerce table.shop_table td.product-name {
    font-size: 12px !important;
    font-weight: 400;
}

#customer_details>div.col-1>div>h3 {
    display: none;
}

#Side_slide #menu ul li a {
    margin-right: 0px !important;
    padding: 11px 5px 10px 15px;
}

table td {
    border-color: rgba(0, 0, 0, .0);
}

.elementor-widget-testimonial-carousel .elementor-testimonial__image img {
    height: 125px !important;
    width: 125px !important
}

.elementor-testimonial__image {
    justify-content: center;
    display: flex;
}

.menu-item>a>span {
    color: #424242 !important;
    font-size: 18px !important;
}

a.action_button {
    background-color: --bg !important;
    color: #fff !important;
}

#action_bar .social li a {
    font-size: 32px !important
}

#section_bar {
    padding: 0px 10px;
}

#section_bar,
.social {
    font-size: 32px;
    display: flex;
    margin: 10px 0px;
    justify-content: center;
}

#section_bar>ul>li {
    margin: 5px 10px;
}

#section_bar>ul>li>a>i {
    color: #908181 !important;
}

#slider-1-slide-1-layer-7>a>i,
#slider-1-slide-1-layer-9>a>i {
    color: #424242 !important;
}


/*#order_review > table > tfoot > tr.woocommerce-shipping-totals.shipping > th {width: 50% !important}*/


/*.elementor-section-boxed > .elementor-container { max-width: 875px;}*/

.elementor-section {
    margin-left: 0px !important;
}

.woocommerce-thankyou-order-received {
    font-size: 20px !important;
    width: 400px !important;
    margin: 0 auto !important;
}

.elementor-testimonial {
    display: block !important;
}

a.added_to_cart {
    text-align: center !important;
}

.elementor-testimonial__text {
    color: #060606 !important;
}

#ip_1,
#inn_1 {
    font-size: 12px;
    text-align: left;
    margin-left: 20px;
    line-height: 1;
}

#Side_slide {
    background-color: #dfdfdf !important;
}

.wc-proceed-to-checkout,
.mfn-woo-cart-link,
.mfn-checkout-steps,
#myaccount_button,
.cart-subtotal {
    display: none !important;
}

.bdt-title p {
    font-size: 16px !important;
    line-height: 16px !important;
    font-style: italic;
}

.bdt-wc-product-excerpt {
    margin-top: 10px;
    font-weight: 400 !important;
}

.bdt-wc-product-title {
    line-height: 20px !important;
    font-family: "Sofia Sans Condensed", Sans-serif !important;
    font-size: 22px !important;
    font-weight: 400 !important;
}

label,
legend {
    margin-bottom: 0px !important;
}

.woocommerce-Price-amount {
    font-size: 18px !important;
}

#Top_bar #logo,
.header-fixed #Top_bar #logo,
.header-plain #Top_bar #logo,
.header-transparent #Top_bar #logo {
    padding: 50px 0 !important;
}

.bdt-wc-products .bdt-wc-add-to-cart a {
    width: 42px !important;
    background-color: #c3c3c373 !important;
    color: #558626 !important;
}

.added_to_cart {
    background-color: #ff8400 !important;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 2px 10px !important;
}

.bdt-table td>:last-child {
    float: right !important;
}

.quantity-change .plus,
.quantity-change .minus {
    margin-top: 5px !important;
}

.quantity {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    margin-bottom: 0px !important;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    padding: 5px !important;
}

.woocommerce table.shop_table td.product-name,
.woocommerce table.shop_table td.product-name a {
    float: inline-start !important;
    text-align: left !important;
}

.woocommerce table.shop_table_responsive tr,
.woocommerce-page table.shop_table_responsive tr,
span.woocommerce-input-wrapper {
    /*display: flex !important;*/
}

.woocommerce .quantity a.quantity-change,
td.product-name a {
    font-size: 13px !important;
}


/*
#Content > div > div > div > div > div.section.the_content.has_content > div > div > div > div.elementor-element.elementor-element-23e04b8.e-flex.e-con-boxed.e-con.e-parent > div > div > div > div > form > table > tbody > tr:nth-child(3) > td {display: none;}
*/

.woocommerce-notices-wrapper {
    display: none;
}

table.cart td.actions {
    display: none !important;
}


/* СКРЫТЬ НЕНУЖНОЕ */

.wp-block-woocommerce-checkout-order-summary-coupon-form-block,
.wp-block-woocommerce-checkout-order-summary-subtotal-block,
.wc-block-components-title.wc-block-components-title,
.wc-block-components-checkout-step__description,
.wc-block-components-address-form__address_2,
.wc-block-components-country-input,
.wc-block-components-address-form__city,
#billing-state,
.wc-block-components-address-form__postcode,
label[for="billing-state"],
label[for="billing_country"],
#billing_country_field,
.woocommerce-column--billing-address,
.woocommerce-privacy-policy-text {
    display: none !important;
}

.elementor-widget-woocommerce-cart .woocommerce table.cart td.product-thumbnail,
.mfn-chp-col .mfn-chp-image,
.mfn-chft-subtotal,
.mfn-chft-row-shipping {
    display: none !important;
}

.woocommerce-shipping-fields,
.woocommerce table.shop_table_responsive tr td::before {
    display: none !important;
}

.woocommerce-page table.shop_table_responsive tr td::before {
    display: none !important;
}

#shipping_method>li:nth-child(2)>label,
#shipping_method>li:nth-child(2) {
    display: none !important;
}

.bdt-wc-add-to-cart a {
    padding: 10px !important;
    line-height: 1 !important;
}

.elementor-element.elementor-element-adcabdf .bdt-wc-products .bdt-wc-add-to-cart a {
    text-align: center !important;
}

.price {
    display: flex;
    flex-direction: column;
}

.bdt-title p {
    font-size: 16px !important;
}

.elementor-widget-woocommerce-cart .woocommerce .input-text.qty {
    text-align: center !important;
}

.woocommerce .quantity {
    width: 65px !important;
}

.elementor-widget-woocommerce-cart .woocommerce button.button.disabled,
.elementor-widget-woocommerce-cart .woocommerce button.button:disabled,
.elementor-widget-woocommerce-cart .woocommerce button.button:disabled[disabled] {
    color: #000000 !important;
    background-color: transparent !important;
}

.bdt-wc-products .bdt-wc-product .bdt-wc-product-price .amount {
    color: #000 !important;
}

#Footer .footer_copy .copyright,
.copyright a {
    float: none !important;
    color: #d9d9d9 !important;
    text-align: center !important;
}

a i.icon-plus,
a i.icon-minus {
    color: #558626 !important;
}

.wc-block-components-checkout-step__content>* {
    margin-bottom: 0em !important;
}

#billing-phone {
    margin-top: -19px !important;
}

.wc-block-components-checkout-step--with-step-number .wc-block-components-checkout-step__content>:last-child {
    padding-bottom: 0em !important;
}

#Footer>div>div>div>div>ul>#box_social {
    display: none;
}

td.bdt-title {
    width: 70px !important;
}

td.bdt-ep-align.bdt-price {
    width: 50px !important;
}

td.bdt-ep-align {
    width: 60px !important;
}

td.bdt-ep-align.bdt-cart {
    width: 100px !important;
}

.bdt-wc-products .bdt-wc-add-to-cart a {
    font-size: 12px !important;
    width: 100% !important;
}

@media only screen and (max-width: 767px) {
    .content_wrapper .section_wrapper,
    .container,
    .four.columns .widget-area {
        padding-left: 3px!important;
        padding-right: 3px!important;
    }
    .bdt-wc-products.bdt-wc-products-skin-table table .bdt-wc-product-excerpt {
        max-width: 200px !important;
    }
    .mfn-cart-step-1 .woocommerce {
        display: contents !important;
    }
    .woocommerce-additional-fields,
    #payment-title,
    .woocommerce-privacy-policy-text {
        display: none !important;
    }
    .eael-woo-checkout .elementor-56 .elementor-element.elementor-element-c3a8175 .woo-checkout-payment,
    .elementor-56 .elementor-element.elementor-element-c3a8175 #payment {
        background-color: transparent !important;
        background: transparent !important;
    }
    li.woocommerce-order-overview__order.order strong {
        font-size: 24px !important;
        background-color: #443e6d;
        color: #fff !important;
        font-weight: 700 !important;
    }
    img.wp-smiley,
    img.emoji {
        margin: 0 !important;
    }
    .bdt-wc-products .bdt-wc-product .bdt-wc-product-price .amount {
        color: #3f3f3f !important;
    }
    .elementor-2 .elementor-element.elementor-element-82e1983>.elementor-element-populated {
        padding: 20px 5px 20px 5px !important;
    }
    .woocommerce table.shop_table_responsive tr,
    .woocommerce-page table.shop_table_responsive tr,
    span.woocommerce-input-wrapper {
        display: flex !important;
    }
    .woocommerce-Price-amount {
        font-size: 14px !important;
    }
    .woocommerce-checkout-review-order {
        padding: 5px !important;
    }
    #order_review_heading {
        display: none !important;
    }
    .social {
        display: flex !important;
    }
    .mobile-header-mini #Top_bar {
        top: 45px !important;
    }
    .woocommerce table.shop_table .product-name {
        width: 150px !important;
        margin: 0px !important;
    }
    .woocommerce .quantity .qty {
        font-size: 14px !important;
        line-height: 10px !important;
        padding: 5px 10px !important;
    }
    .shop_table .quantity {
        min-width: 65px;
    }
    .woocommerce .quantity a.quantity-change {
        width: 20px !important;
    }
    table>tbody>tr>td.product-remove,
    .woocommerce table.shop_table_responsive tr td.product-remove,
    .woocommerce-page table.shop_table_responsive tr td.product-remove a.remove {
        padding-top: 8px !important;
    }
    .mobile-header-mini #Top_bar a.action_button {
        display: flex !important;
    }
    .mobile-header-mini.mobile-mini-mr-lc #Top_bar .logo {
        margin-left: 185px !important;
    }
}

@media (min-width: 778px) and (max-width: 1239px) {
    #Header_creative {
        height: 100px !important;
        padding: 0px !important;
        margin: 0 !important;
        margin-top: -45px !important;
    }
}

@media only screen and (max-width: 1239px) {
    /*#section_bar-2 { display: flex; width: 100%; justify-content: center;}*/
    .elementor-column-gap-wider>.elementor-column>.elementor-element-populated {
        padding: 3px !important;
    }
    #Header_creative #Top_bar {
        position: fixed !important;
        width: 100%;
    }
    .mfn-main-slider {
        margin-top: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .mobile-header-mini #Top_bar {
        top: 0px !important;
    }
}

@media only screen and (min-width: 1240px) {
    #section_bar-2 {
        display: none;
    }
    #phone-element {
        display: none;
    }
    .elementor-column-gap-wider>.elementor-column>.elementor-element-populated {
        padding: 30px 0 0 250px !important;
    }
}